*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}
body{
    background: #000;
}
 .container img{
    height: 400px; 
    width: 300px;
    margin-top: 200px;
    margin-left: 150vmin;
    border-radius: 5%; 
    border: none; 
} 
.port{
    margin-top: -600px;
    padding-top: 35px;
    padding-left: 6%;
    padding-right: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.logo{
    font-size: 40px; 
}
.logo span{
    color:#f9004d;
}
.port ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
.port ul li a{
    color: #fff;
    text-decoration: none;
    transition: 2s;
}
.port ul li a:hover{
    color: #f9004d;
}
.login{
    color: #000;
    background: #f9004d;
    font-size: 20px;
    padding: 9px 25px;
    margin-right: 20px;
    border-radius: 6px;
    text-decoration: none;
}
.login:hover{
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    transition: 2s;
}
.register{
    color: #fff;
    padding: 9px 25px;
    border-radius: 6px;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #fff;
}
.register:hover{
    color: #000;
    background: #f9004d;
    transition: 2s;
}
nav .fa-solid {
    display: none;
}
.content{
    margin-top: 12%;
    max-width: 600px;
    margin-left: 150px;
}
#hello ,#name{
    font-size: 55px;
}
#name span{
    font-size: 55px;
    color: #f9004d;
}
.content p{
    margin-top: 10px;
    line-height: 25px;
}
.m-link a{
    color: #fff;
    text-decoration: none;
}
.link{
    margin-top: 30px;
}
.link .hire {
    color: #000;
    background: #f9004d;
    text-decoration: none;
    padding: 9px 20px;
    border-radius: 6px;
    font-weight: bold;
    margin-left: 200px;
}
.link .hire:hover{
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    transition: 2s;
}
.link .resume {
    color: #fff;
    background: #000;
    text-decoration: none;
    padding: 9px 20px;
    border-radius: 6px;
    font-weight: bold;
    margin-left: 25px;
    border: 1px solid #fff;
}
.link .resume:hover{
    color: #000;
    background: #f9004d;
    transition: 2s;
} 
@media only screen and (max-width:850px) {
    .container img{
        height: 200px; 
        width: 150px;
        margin-top: 400px;
        border-radius: 5%; 
    }
    .logo{
        font-size: 70px; 
        margin-top: -5px;
        margin-left: 200px;
    }
    nav .fa-solid{
        display:block;
        font-size: 40px;
        margin-left: 40PX;
        margin-top: -5PX;
        position: absolute;
        cursor: pointer;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 80px;
        right: 220px;
        cursor: pointer;
    }
    .port ul  {
        background: #f9004d;
        color: #fff;
        flex-direction: column;
        position: fixed;
        top: 0;
        padding: 20px 10px;
        z-index: 2;
        margin-right: -800px; 
        transition: left 0.5s;
    }
    .port ul li{
        display: block;
        margin: 100px;
    }
    .content{
        margin-top: 12%;
        max-width: 600px;
        margin-left: 60px;
    }
   #hello ,#name{
         font-size: 70px;
        }
    #name span{
         font-size: 70px;
    }
    .content p{
         margin-top: 10px;
        line-height: 30px;
        font-size: 25px;
    }
    .login{
       display: none;
    }
    .register{
        display: none;
    }
    .hire{
        display: none;
    }
    .resume{
        gap: 30px;
        margin-right: -50px;
        font-size: 20px;
    }   
}

    
    


    




